* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Instructions */

h1 {
  margin: 0 0 4% 0;
}

#overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 98;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 80%;
  background-color: white;
  border: 4px solid black;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
  padding: 5%;
  z-index: 99;
}

#voiceselector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.voice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
/*  height: 70%; */
  border: 2px solid black;
}

.voiceicon {
  width: 90%;
  padding: 0 5% 0 5%;
}

#launchcontainer {
  display: flex;
  flex-direction: column;
}

#launch {
  margin: 0 auto 0 auto;
  padding: 0 2% 0 2%;
  box-shadow: 1px 1px black;
}

/* Decks */

#story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35%;
  padding: 2%;
}

#wordcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*  height: 20%; */
  height: 24%;
  padding: 2%;
  background-color: #f1d302;
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.0;
}

#decks {
  width: 100%;
  display: flex;
  flex-direction: row;
/*  height: 40%; */
  height: 35%;
  padding: 2%;
}

#decks::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
  width: 100%;
  height: 10%;
  padding: 0 3.5% 0 3.5%;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
}


#storydeck {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
/*  width: 97%; */
  height: 100%;
  background-color: #ffffff;
  border: 2px solid black;
  box-shadow: 4px 4px #cccccc;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
}

#storyprogress {
  width: 80%;
/*  width: 94%; */
}

.deck {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  border: 2px solid black;
  box-shadow: 4px 4px #cccccc;
  margin: auto;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
}

#deck1 { background-color: #00755e; }
#deck2 { background-color: #00a33a; }
#deck3 { background-color: #abc700; }

.decklabel {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
}

/* Loop selector panel */

.loopselect {
  width: 80%;
}

/* Track controls */

select {
  border: 1px solid #333333;
}

.progress {
  position: relative;
  background-color: #333333;
  width: 100%;
}

.nowplaying {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  color: #f1d302;
  padding: 0 4% 0 4%;
  border: 1px solid #333333;
}

.bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #f1d302;
  width: 0%;
  height: 100%;
  margin: 0 0 0 auto;
}

.next {
  width: 100%;
  clear: both;
  margin-top: 5%;
}

.next select {
  width: 100%;
  background-color: #f1d302;
  padding: 0 2% 0 2%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Controls */

#play {
  padding: 0 4% 0 4%;
  box-shadow: 1px 1px black;
}

.unready {
  border: 1px dotted #333333;
}

.ready {
  border: 1px solid black;
}

/* Mute controls */

.mutesolo {
  width: 80%;
  display: flex;
}

.mute,.solo {
  padding: 0 4% 0 4%;
  margin: 5% auto 5% auto;
  border: 1px solid black;
  box-shadow: 1px 1px black;
}

.muted {
  color: #f1d302;
}


/* Text */

#hugewords {
  transition-property: opacity;
}

b {
  font-weight: 700;
}

a {
  color: black;
}

/* Adjust font size based on screen width */

@media only screen and (min-width: 601px) {
  h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
  }
  .mf {
    font-size: 26px;
    font-weight: 700;
  }
  .reader {
    font-size: 20px;
    font-weight: 400;
  }
  .decklabel {
    font-size: 52px;
  }
   .next,.nowplaying {
/*    font-size: 24px; */
    font-size: 20px;
  }
  .mutesolo {
    flex-direction: row;
  }
  .mute,.solo,#play {
    font-size: 30px;
  }
  #loader {
    font-size: 28px;
    line-height: 1.2;
  }
  #hugewords.obstacle {
    font-size: 120px;
    }
  #hugewords.txt {
    font-size: 60px;
  }
  #footer {
    font-size: 18px;
    line-height: 1.2;
  }

}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .mf {
    font-size: 22px;
    font-weight: 700;
  }
  .reader {
    font-size: 16px;
    font-weight: 400;
  }
  .decklabel {
    font-size: 30px;
  }
  .next,.nowplaying {
    font-size: 14px;
  }
  .mutesolo {
    flex-direction: column;
  }
  .mute,.solo,#play {
    font-size: 24px;
  }
  #loader {
    font-size: 20px;
    line-height: 1.2;
  }
  #hugewords.obstacle {
    font-size: 72px;
  }
  #hugewords.txt {
    font-size: 36px;
  }
  #footer {
    font-size: 14px;
    line-height: 1.2;
  }
}

#footer p {
  margin: 0;
}
